<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <% if(authURL != ''){ %>
   		<a href="<%= authURL %>">Connect Me</a>
    <% }else{ %>
   <h1>bar</h1>
    <% } %>
  </body>
</html>
