<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>You have successfully completed the OAuth 2 authentication process.</p>
    <p>Now you can upload videos using command: <b><%= command %></b></p>
  </body>
</html>